<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    <title>2-5 Finished Order</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <!--進度條-->
    <div class="finishedOrder-page container-fluid mt-5">
      <div class="d-flex mt-5 mb-5 justify-content-center">
        <div class="progress-bar d-flex justify-content-between position-relative">
            <div class="d-flex flex-column align-items-center me-sm-5">
                <div class="progress-bar-circle d-flex flex-column">
                    <a class="fs-5 fw-bold m-auto text-secondary" href="searchForm.html">1</a>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">查詢航班</p>
            </div>
            <div class="d-flex flex-column align-items-center me-sm-5">
                <div class="progress-bar-circle d-flex flex-column">
                    <a class="fs-5 fw-bold m-auto text-secondary" href="flightSearch.html">2</a>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">檢視航班</p>
            </div>
            <div class="d-flex flex-column align-items-center me-sm-5">
                <div class="progress-bar-circle d-flex flex-column">
                    <a class="fs-5 fw-bold m-auto text-secondary" href="passengerInfo.html">3</a>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">填寫資料</p>
            </div>
            <div class="d-flex flex-column align-items-center me-sm-5">
                <div class="progress-bar-circle d-flex flex-column">
                    <a class="fs-5 fw-bold m-auto text-secondary" href="paymentInfo.html">4</a>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">確認付款</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="progress-bar-circle d-flex flex-column bg-primary">
                    <span class="material-symbols-outlined fw-bold m-auto text-secondary">
                        done
                    </span>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3" href="">完成預訂</p>
            </div>
            <hr class="position-absolute progress-bar-hr">
        </div>
      </div>

      <div class="content">
        <div class="row justify-content-center">
          <div class="col-10 col-md-8 col-lg-6 col-xl-4 position-relative">
            <h3 class="text-secondary py-2 px-4 fw-bold fs-1 text-center">訂票成功</h3>
            <div class="bg-primary position-absolute opacity-50 customized-highlight w-50 top-50 end-25"></div>
          </div>
          <p class="fs-6 fw-bold text-center mt-2 text-secondary mb-3">詳細訂票資訊已寄至effie@gmail.com</p>
        </div>
          
        <div class="py-5">
          <!--row 1-->
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-6 col-xl-5 d-flex mb-5 mb-sm-4 mb-lg-5 col-lg-5">
              <label class="fs-5 col-3 w-lg-20 d-flex my-auto border-1">姓名<span class="text-danger">*</span></label>
              <div class="col-9 w-lg-80 p-3 bg-primary bg-opacity-25">
                <p class="text-secondary text-start m-0">Ms. Ching-Wen, Hsu</p>
              </div>
            </div>
            <div class="col-12 col-md-9 col-lg-6 col-xl-5 d-flex ps-lg-2 mb-5 mb-sm-4 mb-lg-5 col-lg-5">
              <label class="fs-5 col-3 w-lg-20 d-flex my-auto">票數<span class="text-danger">*</span></label>
              <div class="col-9 w-lg-80 d-flex p-3 bg-primary bg-opacity-25">
                <p class="text-secondary text-start m-0">經濟艙基本*2  (來回票)</p>
              </div>
            </div>
          </div>

          <!--row 2-->
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-6 col-xl-5 d-flex mb-5 mb-sm-4 mb-lg-5 col-lg-5">
              <div class="col-3 w-lg-20 d-flex flex-column">
                <label class="pt-2 fs-11rem">起程時間<span class="text-danger">*</span></label>
                <p class="fs-6 mb-0">GMT+8</p>
              </div>
              <div class="col-9 w-lg-80 d-flex justify-content-between py-2 px-3 bg-primary bg-opacity-25 px-md-0">
                <p class="text-secondary text-start m-0 my-auto ps-md-3">2023-08-20  15:00</p>
                <p class="m-0 my-auto pe-md-3">桃園國際機場</p>
              </div>
            </div>

            <div class="col-12 col-md-9 col-lg-6 col-xl-5 d-flex ps-lg-2 mb-5 mb-sm-4 mb-lg-5 col-lg-5">
              <label class="col-3 w-lg-20 d-flex my-auto fs-11rem">起程班次<span class="text-danger">*</span></label>
              <div class="col-9 w-lg-80 d-flex justify-content-between py-2 px-3 bg-primary bg-opacity-25">
                <p class="text-secondary py-2 text-start m-0 my-auto">長榮航空</p>
                <p class="text-secondary py-2 text-start m-0 my-auto">XXXXXX 航班</p>
              </div>
            </div>
          </div>

          <!--row 3-->
          <div class="row mb-md-5 justify-content-center">
            <div class="col-12 col-md-9 col-lg-6 col-xl-5 d-flex mb-5 mb-sm-4 mb-md-3 mb-lg-0 col-lg-5">
              <div class="col-3 w-lg-20 d-flex flex-column">
                <label class="pt-2 fs-11rem">回程時間<span class="text-danger">*</span></label>
                <p class="fs-6 mb-0">GMT+8</p>
              </div>
              <div class="col-9 w-lg-80 d-flex justify-content-between py-2 px-3 bg-primary bg-opacity-25">
                <p class="text-secondary text-start m-0 my-auto">2023-08-30  10:00</p>
                <p class="m-0 my-auto">東京成田機場</p>
              </div>
            </div>

            <div class="col-12 col-md-9 col-lg-6 col-xl-5 d-flex ps-lg-2 mb-5 mb-sm-4 mb-md-0 mb-lg-0 col-lg-5">
              <label class="col-3 w-lg-20 d-flex my-auto fs-11rem">起程班次<span class="text-danger">*</span></label>
              <div class="col-9 w-lg-80 d-flex justify-content-between px-3 py-2 bg-primary bg-opacity-25">
                <p class="text-secondary text-start py-2 m-0 my-auto">長榮航空</p>
                <p class="text-secondary text-start py-2 m-0 my-auto">XXXXXX 航班</p>
              </div>
            </div>
          </div>

        </div>

        <div class="formFooter">
          <div class="row d-flex justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10 d-flex justify-content-end">
              <a class="d-inline-block me-4 p-2 px-sm-4 fs-5 bg-secondary fw-bold text-white border-0 text-center" href="../index.html">
                返回首頁
              </a>
              <a class="d-inline-block p-2 px-sm-4 fs-5 bg-secondary fw-bold text-white border-0 text-center" href="../Account/myOrder.html">
                查看我的預定
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../../main.js"></script>
  </body>
</html>
