<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- 國旗CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.11.0/css/flag-icons.min.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/images/homepage/LOGO-IMAGE.svg"
    />
    <title>2-2FlightSearch</title>
  </head>
  <style>
    /* * {
      border: 1px red solid !important;
    } */
  </style>

  <body>
    <%- include('./layout/header'); -%>

    <main class="flightSearchPage">
      
      <!--進度條-->
      <div class="container-fluid mt-5 position-relative">
        <div class="d-flex mt-5 mb-5 justify-content-center">
          <div class="progress-bar d-flex justify-content-between position-relative">
              <div class="d-flex flex-column align-items-center me-sm-5">
                  <div class="progress-bar-circle d-flex flex-column">
                      <a class="fs-5 fw-bold m-auto text-secondary" href="searchForm.html">1</a>
                  </div>
                  <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">查詢航班</p>
              </div>
              <div class="d-flex flex-column align-items-center me-sm-5">
                  <div class="progress-bar-circle d-flex flex-column bg-primary">
                      <a class="fs-5 fw-bold m-auto text-secondary" href="#">2</a>
                  </div>
                  <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">檢視航班</p>
              </div>
              <div class="d-flex flex-column align-items-center me-sm-5">
                  <div class="progress-bar-circle d-flex flex-column">
                      <a class="fs-5 fw-bold m-auto text-secondary" href="passengerInfo.html">3</a>
                  </div>
                  <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">填寫資料</p>
              </div>
              <div class="d-flex flex-column align-items-center me-sm-5">
                  <div class="progress-bar-circle d-flex flex-column">
                      <a class="fs-5 fw-bold m-auto text-secondary" href="paymentInfo.html">4</a>
                  </div>
                  <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">確認付款</p>
              </div>
              <div class="d-flex flex-column align-items-center">
                  <div class="progress-bar-circle d-flex flex-column">
                      <span class="material-symbols-outlined fw-bold m-auto text-secondary">
                          done
                      </span>
                  </div>
                  <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3" href="">完成預訂</p>
              </div>
              <hr class="position-absolute progress-bar-hr">
          </div>
        </div>

      <p class="text-secondary text-center fw-bold ls-10 rfs-80">航班檢索</p>
      <h2 class="text-center display-4 text-primary fw-bold">
        DAD <span class="fw-normal text-secondary me-3">to</span>TPE
      </h2>
      <!-- FlightSearchCard -->

      <div class="container mt-5">
        <ul class="list-unstyled">
          <li class="flightCard mb-3 mb-md-0">
            <!-- upper -->
            <div class="d-flex flight-polygon-border p-12">
              <div
                class="flightCard-rwd-width d-flex flex-column flex-md-row align-items-center justify-content-between"
              >
                <div class="">
                  <div class="d-flex align-items-center">
                    <img
                      class="transparent-image"
                      src="https://www.gstatic.com/flights/airline_logos/70px/BR.png"
                      alt="flightCompany"
                      height="70px"
                    />
                    <h3 class="ms-sm-3 text-secondary">Eva Airways</h3>
                  </div>
                  <p class="d-none d-md-block mt-0 mt-lg-3 mb-0 text-center h5">
                    BR384
                  </p>
                </div>
                <div
                  class="d-flex mb-0 align-items-center flex-row flex-lg-row gap-3"
                >
                  <div class="d-flex align-items-center gap-2">
                    <div>
                      <p class="mb-0 h1 text-secondary">DAD</p>
                      <time>14:02</time>
                    </div>
                    <p class="mb-0 h1 text-secondary">&rarr;</p>
                    <div class="">
                      <p class="mb-0 h1 text-secondary">TPE</p>
                      <time>17:49</time>
                    </div>
                  </div>
                  <div class="bg-primary">
                    <p class="mb-0 p-2 h4 text-secondary">scheduled</p>
                  </div>
                </div>
                <img
                  class="d-none d-md-block"
                  src="/assets/images/homepage/flightSearch-plane.png"
                  alt="plane"
                  height="67px"
                />
              </div>
              <div class="flight-polygon-border-overlap"></div>
            </div>
            <!-- lower -->
            <div
              class="flightCard-rwd-width justify-content-between gap-1 gap-sm-3 py-3 px-12 flightCard-lower"
            >
              <div class="w-30 d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-between mb-3 gap-0">
                  <span class="fi fi-vn w-50"></span>
                  <h3 class="mb-0 fw-bold text-secondary">DAD</h3>
                </div>
                <p class="mb-3 text-secondary text-center overflow-wrap-break">
                  Da Nang International Airport
                </p>
                <p class="text-center d-none d-sm-block">Terminal: 2</p>
                <time class="text-center mb-1">2023-07-18 14:02</time>
                <p class="text-center">GMT+8</p>
              </div>
              <div
                class="w-20 d-flex flex-column justify-content-between align-self-sm-center align-self-end align-items-center"
              >
                <p class="d-block d-md-none mb-3 text-center h5 fw-bold">
                  BR384
                </p>
                <h3 class="mb-3">130mins</h3>
                <img
                  class="d-none d-sm-block w-15 mb-3 moveUpandDown-animation"
                  src="/assets/images/homepage/airplane-flightCard.png"
                  alt="airplane"
                />
                <img
                  class="d-block rwd-width-50-md-15 mb-3 arrow-moveIn-animation"
                  src="/assets/images/homepage/right-arrow-blue.png"
                  alt="rightArrow"
                />
                <a
                  href="#"
                  class="btn btn-primary rounded-0 fw-bold p-sm-2 p-1"
                  role="button"
                  >go to Book</a
                >
              </div>
              <div class="w-30 d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-between mb-3">
                  <span class="fi fi-tw w-50"></span>
                  <h3 class="mb-0 fw-bold text-secondary">TPE</h3>
                </div>
                <p class="mb-3 text-secondary text-center overflow-wrap-break">
                  Taiwan Taoyuan International Airport
                </p>
                <p class="d-none d-sm-block text-center">
                  Terminal: 3 Gate: D3
                </p>
                <time class="d-block text-center mb-1">2023-07-18 17:49</time>
                <p class="text-center">GMT+8</p>
              </div>
            </div>
          </li>
          <li class="flightCard mb-3 mb-md-0">
            <!-- upper -->
            <div class="d-flex flight-polygon-border p-12">
              <div
                class="flightCard-rwd-width d-flex flex-column flex-md-row align-items-center justify-content-between"
              >
                <div class="">
                  <div class="d-flex align-items-center">
                    <img
                      class="transparent-image"
                      src="https://www.gstatic.com/flights/airline_logos/70px/IT.png"
                      alt="flightCompany"
                      height="70px"
                    />
                    <h3 class="ms-sm-3 text-secondary">Tigerair Taiwan</h3>
                  </div>
                  <p class="d-none d-md-block mt-0 mt-lg-3 mb-0 text-center h5">
                    IT552
                  </p>
                </div>
                <div
                  class="d-flex mb-0 align-items-center flex-row flex-lg-row gap-3"
                >
                  <div class="d-flex align-items-center gap-2">
                    <div>
                      <p class="mb-0 h1 text-secondary">DAD</p>
                      <time>18:20</time>
                    </div>
                    <p class="mb-0 h1 text-secondary">&rarr;</p>
                    <div class="">
                      <p class="mb-0 h1 text-secondary">TPE</p>
                      <time>22:10</time>
                    </div>
                  </div>
                  <div class="bg-primary">
                    <p class="mb-0 p-2 h4 text-secondary">scheduled</p>
                  </div>
                </div>
                <img
                  class="d-none d-md-block"
                  src="/assets/images/homepage/flightSearch-plane.png"
                  alt="plane"
                  height="67px"
                />
              </div>
              <div class="flight-polygon-border-overlap"></div>
            </div>
            <!-- lower -->
            <div
              class="flightCard-rwd-width justify-content-between gap-1 gap-sm-3 py-3 px-12 flightCard-lower"
            >
              <div class="w-30 d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-between mb-3 gap-0">
                  <span class="fi fi-vn w-50"></span>
                  <h3 class="mb-0 fw-bold text-secondary">DAD</h3>
                </div>
                <p class="mb-3 text-secondary text-center overflow-wrap-break">
                  Da Nang International Airport
                </p>
                <p class="text-center d-none d-sm-block">Terminal: 2</p>
                <time class="text-center mb-1">2023-07-18 18:20</time>
                <p class="text-center">GMT+8</p>
              </div>
              <div
                class="w-20 d-flex flex-column justify-content-between align-self-sm-center align-self-end align-items-center"
              >
                <p class="d-block d-md-none mb-3 text-center h5 fw-bold">
                  IT552
                </p>
                <h3 class="mb-3">170mins</h3>
                <img
                  class="d-none d-sm-block w-15 mb-3 moveUpandDown-animation"
                  src="/assets/images/homepage/airplane-flightCard.png"
                  alt="airplane"
                />
                <img
                  class="d-block rwd-width-50-md-15 mb-3 arrow-moveIn-animation"
                  src="/assets/images/homepage/right-arrow-blue.png"
                  alt="rightArrow"
                />
                <a
                  href="#"
                  class="btn btn-primary rounded-0 fw-bold p-sm-2 p-1"
                  role="button"
                  >go to Book</a
                >
              </div>
              <div class="w-30 d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-between mb-3">
                  <span class="fi fi-tw w-50"></span>
                  <h3 class="mb-0 fw-bold text-secondary">TPE</h3>
                </div>
                <p class="mb-3 text-secondary text-center overflow-wrap-break">
                  Taiwan Taoyuan International Airport
                </p>
                <p class="d-none d-sm-block text-center">
                  Terminal: 3 Gate: D3
                </p>
                <time class="d-block text-center mb-1">2023-07-18 22:10</time>
                <p class="text-center">GMT+8</p>
              </div>
            </div>
          </li>

          <li class="flightCard mb-3 mb-md-0">
            <!-- upper -->
            <div class="d-flex flight-polygon-border p-12">
              <div
                class="flightCard-rwd-width d-flex flex-column flex-md-row align-items-center justify-content-between"
              >
                <div class="">
                  <div class="d-flex align-items-center">
                    <img
                      class="transparent-image"
                      src="https://www.gstatic.com/flights/airline_logos/70px/JX.png"
                      alt="flightCompany"
                      height="70px"
                    />
                    <h3 class="ms-sm-3 text-secondary">Starlux Airlines</h3>
                  </div>
                  <p class="d-none d-md-block mt-0 mt-lg-3 mb-0 text-center h5">
                    JX704
                  </p>
                </div>
                <div
                  class="d-flex mb-0 align-items-center flex-row flex-lg-row gap-3"
                >
                  <div class="d-flex align-items-center gap-2">
                    <div>
                      <p class="mb-0 h1 text-secondary">DAD</p>
                      <time>22:50</time>
                    </div>
                    <p class="mb-0 h1 text-secondary">&rarr;</p>
                    <div class="">
                      <p class="mb-0 h1 text-secondary">TPE</p>
                      <time>18:55</time>
                    </div>
                  </div>
                  <div class="bg-primary">
                    <p class="mb-0 p-2 h4 text-secondary">scheduled</p>
                  </div>
                </div>
                <img
                  class="d-none d-md-block"
                  src="/assets/images/homepage/flightSearch-plane.png"
                  alt="plane"
                  height="67px"
                />
              </div>
              <div class="flight-polygon-border-overlap"></div>
            </div>
            <!-- lower -->
            <div
              class="flightCard-rwd-width justify-content-between gap-1 gap-sm-3 py-3 px-12 flightCard-lower"
            >
              <div class="w-30 d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-between mb-3 gap-0">
                  <span class="fi fi-vn w-50"></span>
                  <h3 class="mb-0 fw-bold text-secondary">DAD</h3>
                </div>
                <p class="mb-3 text-secondary text-center overflow-wrap-break">
                  Da Nang International Airport
                </p>
                <p class="text-center d-none d-sm-block">Terminal: 2</p>
                <time class="text-center mb-1">2023-07-18 18:55</time>
                <p class="text-center">GMT+8</p>
              </div>
              <div
                class="w-20 d-flex flex-column justify-content-between align-self-sm-center align-self-end align-items-center"
              >
                <p class="d-block d-md-none mb-3 text-center h5 fw-bold">
                  JX704
                </p>
                <h3 class="mb-3">175mins</h3>
                <img
                  class="d-none d-sm-block w-15 mb-3 moveUpandDown-animation"
                  src="/assets/images/homepage/airplane-flightCard.png"
                  alt="airplane"
                />
                <img
                  class="d-block rwd-width-50-md-15 mb-3 arrow-moveIn-animation"
                  src="/assets/images/homepage/right-arrow-blue.png"
                  alt="rightArrow"
                />
                <a
                  href="#"
                  class="btn btn-primary rounded-0 fw-bold p-sm-2 p-1"
                  role="button"
                  >go to Book</a
                >
              </div>
              <div class="w-30 d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-between mb-3">
                  <span class="fi fi-tw w-50"></span>
                  <h3 class="mb-0 fw-bold text-secondary">TPE</h3>
                </div>
                <p class="mb-3 text-secondary text-center overflow-wrap-break">
                  Taiwan Taoyuan International Airport
                </p>
                <p class="d-none d-sm-block text-center">
                  Terminal: 3 Gate: D3
                </p>
                <time class="d-block text-center mb-1">2023-07-18 22:50</time>
                <p class="text-center">GMT+8</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- PAGINATION -->
      <div
        class="container d-flex justify-content-center align-items-center mt-5"
      >
        <a class="btn btn-primary rounded-0 p-0 d-block" href="#">
          <img
            src="/assets/images/homepage/Arrow Pointing Left.png"
            alt="arrow_left"
          />
        </a>
        <ul class="list-unstyled d-flex align-items-center mb-0 gap-1">
          <li class="">
            <a class="btn mb-0 fs-4 link-secondary fw-bold">1</a>
          </li>
          <li class="">
            <a class="btn mb-0 fs-4 link-secondary fw-bold">2</a>
          </li>
          <li class="">
            <a class="btn mb-0 fs-4 link-secondary fw-bold">3</a>
          </li>
          <li class="">
            <a class="btn mb-0 fs-4 link-secondary fw-bold">4</a>
          </li>
          <li class="">
            <a class="btn mb-0 fs-4 link-secondary fw-bold">5</a>
          </li>
        </ul>

        <a
          class="btn btn-primary rounded-0 p-0 d-block carousel-hover"
          href="#"
        >
          <img
            src="/assets/images/homepage/Right Arrow.png"
            alt="arrow_right"
          />
        </a>
      </div>
    </main>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../../main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
