<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>2-3 Passenger Info</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <!--進度條-->
    <div class="passengerInfo-page container mt-5 position-relative">
      <div class="d-flex mt-5 mb-5 justify-content-center">
        <div class="progress-bar d-flex justify-content-between position-relative">
            <div class="d-flex flex-column align-items-center me-sm-5">
                <div class="progress-bar-circle d-flex flex-column">
                    <a class="fs-5 fw-bold m-auto text-secondary" href="searchForm.html">1</a>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">查詢航班</p>
            </div>
            <div class="d-flex flex-column align-items-center me-sm-5">
                <div class="progress-bar-circle d-flex flex-column">
                    <a class="fs-5 fw-bold m-auto text-secondary" href="flightSearch.html">2</a>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">檢視航班</p>
            </div>
            <div class="d-flex flex-column align-items-center me-sm-5">
                <div class="progress-bar-circle d-flex flex-column bg-primary">
                    <a class="fs-5 fw-bold m-auto text-secondary" href="passengerInfo.html">3</a>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">填寫資料</p>
            </div>
            <div class="d-flex flex-column align-items-center me-sm-5">
                <div class="progress-bar-circle d-flex flex-column">
                    <a class="fs-5 fw-bold m-auto text-secondary" href="paymentInfo.html">4</a>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">確認付款</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="progress-bar-circle d-flex flex-column">
                    <span class="material-symbols-outlined fw-bold m-auto text-secondary">
                        done
                    </span>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3" href="">完成預訂</p>
            </div>
            <hr class="position-absolute progress-bar-hr">
        </div>
      </div>

      <!--表單-->
      <form action="">
        <div class="position-relative">
          <h3 class="text-secondary py-2 px-4 fs-5 fw-bold d-inline-block w-auto fs-2 ps-0">旅客 1</h3>
          <div class="bg-primary position-absolute opacity-50 customized-highlight"></div>
        </div>
          
        <div class="formBody py-5 text-secondary">
          <div class="row row-cols-1 row-cols-md-2 mb-4 mb-sm-0 mb-md-5">
            <div class="col-12 col-md-6 d-flex pe-md-4 mb-5 mb-sm-4 mb-md-3 mb-lg-0">
              <label for="surname1" name="surname1" id="surname1" class="fs-5 col-3 w-lg-20 d-flex my-auto">姓氏<span class="text-danger">*</span></label>
              <input type="text" name="surname1" id="surname1" placeholder="與護照相同，去除空格與特殊符號" class="col-9 w-lg-80 px-3 py-2 border-1 border-secondary rounded-0 lh-lg">
            </div>
      
            <div class="col-12 col-md-6 d-flex ps-md-1 ps-lg-4 mb-4 mb-md-3 mb-lg-0">
              <label for="given_name1" name="given_name1" id="given_name1" class="fs-5 col-3 w-lg-20 d-flex my-auto">名字<span class="text-danger">*</span></label>
              <input type="text" name="given_name1" id="given_name1" placeholder="與護照相同，去除空格與特殊符號" class="col-9 w-lg-80 px-3 py-2 border-1 border-secondary rounded-0 lh-lg">
            </div>
          </div>
      
          <div class="row row-cols-1 row-cols-md-2 mb-md-5 mb-lg-4">
            <div class="col-12 col-md-6 d-flex pe-md-4 mb-4 mb-md-0 mb-lg-0">
              <label for="appellation1" name="appellation1" id="appellation1" class="fs-5 col-3 w-lg-20 d-flex my-auto">稱謂<span class="text-danger">*</span></label>
              <div class="dropdown-control-div col-9 w-lg-80 px-1 py-1 border border-1 border-secondary d-flex justify-content-between w-lg-80 h-50px my-md-3">
                <button type="button" class="btn text-secondary text-start">--未選擇--</button>
                <button type="button" class="btn btn-transparent dropdown-toggle dropdown-toggle-split" id="dropdownMenuDepartureTime" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
              </div>
            </div>
      
            <div class="col-12 col-md-6 d-flex ps-md-1 ps-lg-4 mb-lg-0 mb-sm-4 mb-md-0">
              <label for="email1" name="email1" id="email1" class="col-3 w-lg-20 d-flex my-auto fs-5 flex-wrap">
                <p class="m-0">電子</p>
                <p class="m-0">信箱<span class="text-danger">*</span></p>
              </label>
              <input type="email" name="email1" id="email1" class="col-9 w-lg-80 px-3 py-2 border-1 border-secondary rounded-0 lh-lg my-4 my-sm-0 my-md-3 h-50px">
            </div>
          </div>
      
          <div class="row row-cols-1 row-cols-md-2 mb-md-5">
            <div class="col-12 col-md-6 d-flex pe-md-4 mb-4 mb-lg-0">
              <label for="cellphone1" name="cellphone1" id="cellphone1" class="col-3 w-lg-20 d-flex my-auto fs-5 flex-wrap">
                <p class="m-0">行動</p>
                <p class="m-0">電話<span class="text-danger">*</span></p>
              </label>
              <div class="col-9 col-lg-10 d-flex w-lg-80">
                <input type="text" name="countrycode1" id="countrycode1" for="countrycode1" placeholder="國家代碼" class="col-4 py-2 ps-2 px-sm-3 border-1 border-secondary rounded-0 h-50px my-4 my-sm-0 my-md-3">
                <p class="d-flex h-auto m-auto">-</p>
                <input type="text" name="cellphone1" id="cellphone1" class="col-7 px-3 py-2 border-1 border-secondary rounded-0 lh-lg h-50px my-4 my-sm-0 my-md-3">
              </div>
            </div>
      
            <div class="col-12 col-md-6 d-flex ps-md-1 ps-lg-4 mb-5 mb-sm-4 mb-md-3 mb-lg-0">
              <label for="tel1" name="tel1" id="tel1" class="fs-5 col-3 w-lg-20 d-flex my-auto">住家電話</label>
              <input type="text" name="tel1" id="tel1" class="col-9 w-lg-80 px-3 py-2 border-1 border-secondary rounded-0 lh-lg h-50px my-md-3">
            </div>
          </div>
      
          <div class="row row-cols-1 row-cols-md-2 mb-md-4">
            <div class="col-12 col-md-6 d-flex pe-md-4 mb-5 mb-sm-4 mb-md-3 mb-lg-0">
              <label for="classes1" name="classes1" id="classes1" class="fs-5 col-3 w-lg-20 d-flex pt-2">艙等<span class="text-danger">*</span></label>
              <div class="col-9 col-lg-10 w-lg-80">
                <div class="dropdown-control-div px-1 py-1 border border-1 border-secondary d-flex justify-content-between">
                  <button type="button" class="btn text-secondary text-start">--未選擇--</button>
                  <button type="button" class="btn btn-transparent dropdown-toggle dropdown-toggle-split" id="dropdownMenuDepartureTime" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                </div>
                <div class="mt-2">
                  <div class="d-flex mb-2">
                    <span class="material-symbols-outlined me-2">
                      flight_takeoff
                    </span>
                    <p class="m-0">臺北 → 東京</p>
                  </div>
                  <div class="d-flex justify-content-start mb-2">
                    <div class="m-0 border-end border-1 border-secondary py-0 col-6 d-flex flex-column flex-sm-row flex-md-column flex-lg-row justify-content-between pe-lg-2 pe-xxl-3">
                      <p class="m-0 pe-3 pe-lg-0">經濟艙 基本</p>
                      <p class="m-0 pe-2 pe-lg-0">NT. 10, 451</p>
                    </div>
                    <div class="m-0 border-end border-1 border-secondary py-0 col-6 d-flex flex-column flex-sm-row justify-content-between px-2 flex-md-column flex-lg-row px-lg-1 px-xxl-3">
                      <p class="m-0">經濟艙 經典</p>
                      <p class="m-0">NT. 12, 079</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    <div class="m-0 border-end border-1 border-secondary py-0 col-6 d-flex flex-column flex-sm-row flex-md-column flex-lg-row justify-content-between pe-lg-2 pe-xxl-3">
                      <p class="m-0 pe-3 pe-lg-0">商務艙 基本</p>
                      <p class="m-0 pe-2 pe-lg-0">NT. 19, 603</p>
                    </div>
                    <div class="m-0 border-end border-1 border-secondary py-0 col-6 d-flex flex-column flex-sm-row justify-content-between px-2 flex-md-column flex-lg-row px-lg-1 px-xxl-3">
                      <p class="m-0">商務艙 經典</p>
                      <p class="m-0">NT. 26, 180</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex ps-md-1 ps-lg-4 mb-5 mb-sm-4 mb-md-3 mb-lg-0">
              <label for="amounts1" name="amounts1" id="amounts1" class="fs-5 col-3 w-lg-20 d-flex mt-2">票種<span class="text-danger">*</span></label>
              <div class="col-9 col-lg-10 w-lg-80">
                <div class="dropdown-control-div col-12 px-1 py-1 border border-1 border-secondary d-flex justify-content-between">
                  <button type="button" class="btn text-secondary text-start">--未選擇--</button>
                  <button type="button" class="btn btn-transparent dropdown-toggle dropdown-toggle-split" id="dropdownMenuDepartureTime" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                </div>
                <div class="d-flex my-2">
                  <div class="m-0 border-end border-1 border-secondary py-0 col-4 d-flex flex-column flex-sm-row flex-md-column flex-lg-row justify-content-xxl-center">
                    <p class="m-0 pe-3 pe-lg-2">成人</p>
                    <p class="m-0">12歲以上</p>
                  </div>
                  <div class="my-0 border-end border-1 border-secondary py-0 col-4 d-flex flex-column flex-sm-row flex-md-column flex-lg-row">
                    <div class="w-xl-auto mx-xl-auto d-flex flex-column flex-sm-row flex-md-column flex-lg-row">
                      <p class="m-0 px-2">兒童</p>
                      <p class="m-0 px-2">3-11歲</p>
                    </div>
                  </div>
                  <div class="my-0 border-end border-1 border-secondary py-0 col-4">
                    <div class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row justify-content-xl-center">
                      <p class="m-0 px-2 pe-lg-1">嬰兒</p>
                      <p class="m-0 px-2 ps-lg-1">2歲以下</p>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="formFooter d-flex justify-content-end">
          <button class="d-flex me-4 js-add-passenger bg-transparent border-0">
            <span class="material-symbols-outlined me-2 add-circle text-secondary fs-3 d-flex my-auto">
              add_circle
            </span>
            <div class="py-2 px-4 fs-5 bg-secondary text-white fw-bold">新增旅客資料</div>
          </button>
          <a class="bg-secondary text-white py-2 px-4 fs-5 fw-bold d-block" href="paymentInfo.html">下一步</a>
        </div>
      </form>
    </div>
    

    <%- include('./layout/footer'); -%>
    <script type="module" src="../../main.js"></script>
  </body>
</html>
