<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    <title>2-1 Search Form</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <!--進度條-->
    <div class="searchForm-page container mt-5">
      <div class="d-flex mt-5 mb-5 justify-content-center">
        <div class="progress-bar d-flex justify-content-between position-relative">
            <div class="d-flex flex-column align-items-center me-sm-5">
                <div class="progress-bar-circle d-flex flex-column bg-primary">
                    <a class="fs-5 fw-bold m-auto text-secondary" href="#">1</a>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">查詢航班</p>
            </div>
            <div class="d-flex flex-column align-items-center me-sm-5">
                <div class="progress-bar-circle d-flex flex-column">
                    <a class="fs-5 fw-bold m-auto text-secondary" href="flightSearch.html">2</a>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">檢視航班</p>
            </div>
            <div class="d-flex flex-column align-items-center me-sm-5">
                <div class="progress-bar-circle d-flex flex-column">
                    <a class="fs-5 fw-bold m-auto text-secondary" href="passengerInfo.html">3</a>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">填寫資料</p>
            </div>
            <div class="d-flex flex-column align-items-center me-sm-5">
                <div class="progress-bar-circle d-flex flex-column">
                    <a class="fs-5 fw-bold m-auto text-secondary" href="paymentInfo.html">4</a>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3">確認付款</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="progress-bar-circle d-flex flex-column">
                    <span class="material-symbols-outlined fw-bold m-auto text-secondary">
                        done
                    </span>
                </div>
                <p class="progress-bar-label mt-2 d-inline-block text-secondary w-md-100 text-center mb-0 mb-sm-3" href="">完成預訂</p>
            </div>
            <hr class="position-absolute progress-bar-hr">
        </div>
      </div>

      <!--表單-->
      <form action="">
        <div class="formHeader border-bottom border-1 border-secondary">
          <div class="row">
            <div class="col-6 d-flex justify-content-end">
              <a class="col-10 d-inline-block bg-primary text-secondary text-center py-2 py-sm-3 fs-4 fw-bold left-section" href="#">
                來回
              </a>
            </div>
            <div class="col-6 d-flex justify-content-start">
              <a class="col-10 d-inline-block bg-primary text-secondary text-center py-2 py-sm-3 fs-4 fw-bold bg-opacity-25 right-section" href="#">
                單程
              </a>
            </div>
          </div>
        </div>
        <div class="formBody py-5 text-secondary">
          <div class="row mb-md-5">
            <div class="col-12 col-md-6 d-flex pe-md-4 mb-5 mb-sm-4 mb-md-3 mb-lg-0">
              <label for="departure_location" name="departure_location" id="departure_location" class="fs-5 col-3 w-lg-20 d-flex my-auto">出發地<span class="text-danger">*</span></label>
              <div class="btn-group col-9 w-lg-80">
                <div class="dropdown-control-div border border-1 border-secondary d-flex justify-content-between">
                  <button type="button" class="btn text-secondary py-2 text-start">--未選擇--</button>
                  <button type="button" class="btn btn-transparent dropdown-toggle dropdown-toggle-split" id="dropdownMenuDepartureLocation" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuDepartureLocation">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-md-6 fs-4 d-flex ps-md-1 ps-lg-4 mb-5 mb-sm-4 mb-md-3 mb-lg-0">
              <label for="arrival_location" name="arrival_location" id="arrival_location" class="fs-5 col-3 w-lg-20 d-flex my-auto">目的地<span class="text-danger">*</span></label>
              <div class="btn-group col-9 w-lg-80">
                <div class="dropdown-control-div border border-1 border-secondary d-flex justify-content-between">
                  <button type="button" class="btn text-secondary py-2 text-start">--未選擇--</button>
                  <button type="button" class="btn btn-transparent dropdown-toggle dropdown-toggle-split" id="dropdownMenuArrivalLocation" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuArrivalLocation">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-12 col-md-6 fs-4 d-flex pe-md-4 mb-5 mb-sm-4 mb-md-3 mb-lg-0">
              <div class="col-3 w-lg-20 d-flex flex-column">
                <label for="departure_time" name="departure_time" id="departure_time" class="pt-2 fs-11rem">出發時間<span class="text-danger">*</span></label>
                <p class="fs-6 mb-0">GMT+8</p>
              </div>
              <div class="btn-group col-9 w-lg-80">
                <div>
                  <div class="dropdown-control-div border border-1 border-secondary d-flex justify-content-between">
                    <button type="button" class="btn text-secondary py-2 text-start">--未選擇--</button>
                    <button type="button" class="btn btn-transparent dropdown-toggle dropdown-toggle-split" id="dropdownMenuDepartureTime" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                  </div>
                  <p class="fs-6 mt-2 mb-0">( 僅供查詢未來 10 個小時以內 )</p>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuDepartureTime">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-md-6 fs-4 d-flex ps-md-1 ps-lg-4">
              <label for="airline" name="airline" id="airline" class="col-3 w-lg-20 pt-2 fs-11rem">航空公司</label>
              <div class="btn-group col-9 w-lg-80">
                <div class="dropdown-control-div border border-1 border-secondary d-flex justify-content-between w-100">
                  <button type="button" class="btn text-secondary py-2 text-start">--未選擇--</button>
                  <button type="button" class="btn btn-transparent dropdown-toggle dropdown-toggle-split" id="dropdownMenuAirline" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuAirline">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>
            </div>

          </div>

        </div>

        <div class="formFooter d-flex justify-content-end">
          <a class="btn btn-secondary text-white py-2 px-4 fs-5 fw-bold" href="flightSearch.html">查詢</a>
        </div>
      </form>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../../main.js"></script>
  </body>
</html>
