<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AirportSearch</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet" />

    <link rel="icon" type="image/x-icon" href="/assets/images/homepage/LOGO-IMAGE.svg" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
</head>

<body>
    <!-- ejs語法 -->
    <%- include('./layout/header'); -%>
        <section class="py-6">
            <div class="container">
                <h2 class="text-secondary text-center fw-bold ls-10 rfs-80">
                    鄰近機場查詢
                </h2>
                <div class="border p-5 bg-cover searchbg">


                    <div class="row  g-3 align-items-center ">
                        <div class="col-2 text-end">
                            <label for="airport" class="form-label h2 fw-bold cursor-pointer">機場名稱</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control border-3 border-secondary" id="airport"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-primary">搜尋</button>
                        </div>
                    </div>
                    <div class="row  g-3 align-items-center mt-3">
                        <div class="col-2 text-end h2 fw-bold cursor-pointer">國家</div>
                        <div class="col-2">
                            <div
                                class="dropdown-control-div border d-flex justify-content-between border-3 border-secondary">
                                <button type="button" class="btn text-secondary py-2 w-100 text-start">台灣</button>
                                <button type="button" class="btn btn-transparent dropdown-toggle dropdown-toggle-split"
                                    id="dropdownMenuDepartureLocation" data-bs-toggle="dropdown" aria-expanded="false"
                                    data-bs-reference="parent">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MAP -->
                <div class="row  mt-5">
                    <div class="col-9">
                        <div id="map" class="map-rwd-size position-relative"></div>
                    </div>
                    <div class="col-3">
                        <div class="d-flex py-12 border-bottom">
                            <img src="../../assets/images/homepage/flightSearch-3.png" alt="" class="w-50 h-100">
                            <ul class="list-unstyled w-100 px-12 g-3 mb-0">
                                <li>
                                    <h4 class="mb-1 fw-bold text-info">桃園機場</h4>
                                </li>
                                <li>
                                    <p class="mb-1">國家:台灣</p>
                                </li>
                                <li>
                                    <p class="mb-1">ITAT:CDG</p>
                                </li>
                                <li>
                                    <p class="mb-1">25.07, 121.2</p>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex py-12 border-bottom">
                            <img src="../../assets/images/homepage/flightSearch-3.png" alt="" class="w-50 h-100">
                            <ul class="list-unstyled w-100 px-12 g-3 mb-0">
                                <li>
                                    <h4 class="mb-1 fw-bold text-info">松山機場</h4>
                                </li>
                                <li>
                                    <p class="mb-1">國家:台灣</p>
                                </li>
                                <li>
                                    <p class="mb-1">ITAT:CDG</p>
                                </li>
                                <li>
                                    <p class="mb-1">25.06, 121.55</p>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex py-12 border-bottom">
                            <img src="../../assets/images/homepage/flightSearch-3.png" alt="" class="w-50 h-100">
                            <ul class="list-unstyled w-100 px-12 g-3 mb-0">
                                <li>
                                    <h4 class="mb-1 fw-bold text-info">小港機場</h4>
                                </li>
                                <li>
                                    <p class="mb-1">國家:台灣</p>
                                </li>
                                <li>
                                    <p class="mb-1">ITAT:CDG</p>
                                </li>
                                <li>
                                    <p class="mb-1">25.57, 120.34</p>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex py-12 border-bottom">
                            <img src="../../assets/images/homepage/flightSearch-3.png" alt="" class="w-50 h-100">
                            <ul class="list-unstyled w-100 px-12 g-3 mb-0">
                                <li>
                                    <h4 class="mb-1 fw-bold text-info">豐年機場</h4>
                                </li>
                                <li>
                                    <p class="mb-1">國家:台灣</p>
                                </li>
                                <li>
                                    <p class="mb-1">ITAT:CDG</p>
                                </li>
                                <li>
                                    <p class="mb-1">25.06, 121.55</p>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex py-12 border-bottom">
                            <img src="../../assets/images/homepage/flightSearch-3.png" alt="" class="w-50 h-100">
                            <ul class="list-unstyled w-100 px-12 g-3 mb-0">
                                <li>
                                    <h4 class="mb-1 fw-bold text-info">蘭嶼機場</h4>
                                </li>
                                <li>
                                    <p class="mb-1">國家:台灣</p>
                                </li>
                                <li>
                                    <p class="mb-1">ITAT:CDG</p>
                                </li>
                                <li>
                                    <p class="mb-1">25.06, 121.55</p>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex py-12 border-bottom">
                            <img src="../../assets/images/homepage/flightSearch-3.png" alt="" class="w-50 h-100">
                            <ul class="list-unstyled w-100 px-12 g-3 mb-0">
                                <li>
                                    <h4 class="mb-1 fw-bold text-info">綠島機場</h4>
                                </li>
                                <li>
                                    <p class="mb-1">國家:台灣</p>
                                </li>
                                <li>
                                    <p class="mb-1">ITAT:CDG</p>
                                </li>
                                <li>
                                    <p class="mb-1">25.06, 121.55</p>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex py-12 border-bottom">
                            <img src="../../assets/images/homepage/flightSearch-3.png" alt="" class="w-50 h-100">
                            <ul class="list-unstyled w-100 px-12 g-3 mb-0">
                                <li>
                                    <h4 class="mb-1 fw-bold text-info">北竿機場</h4>
                                </li>
                                <li>
                                    <p class="mb-1">國家:台灣</p>
                                </li>
                                <li>
                                    <p class="mb-1">ITAT:CDG</p>
                                </li>
                                <li>
                                    <p class="mb-1">26.22, 119.99</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <%- include('./layout/footer'); -%>

            <script type="module" src="../../main.js"></script>
            <!-- leaflet js -->
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
            <script>
                let map = L.map("map").setView([23.58, 120.25], 8);

                L.tileLayer(
                    "https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png",
                    {
                        attribution:
                            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
                        subdomains: "abcd",
                        maxZoom: 20,
                    }
                ).addTo(map);

                //Resolve the issue where the Leaflet map is not fully loaded initially, but when inspecting the element, it loads completely.
                setTimeout(function () {
                    map.invalidateSize(true);
                }, 300);

                // add marker icon
                const myIcon = L.icon({
                    iconUrl: "/assets/images/realTimeFlight_Icon.png",
                    iconSize: [42, 42],
                    iconAnchor: [0, 0],
                    className: "u-turn-icon",
                });
                L.marker([25.07, 121.22], { icon: myIcon })
                    .addTo(map)
                    .bindTooltip('桃園機場')
                    ;

                L.marker([25.063629142694914, 121.55167362451004], { icon: myIcon })
                    .addTo(map)
                    .bindTooltip('松山機場')
                    ;
                L.marker([25.57, 120.34], { icon: myIcon })
                    .addTo(map)
                    .bindTooltip('小港機場')
                    ;
                L.marker([25.06, 121.55], { icon: myIcon })
                    .addTo(map)
                    .bindTooltip('豐年機場')
                    ;
                L.marker([22.756516740298885, 121.10702633796876], { icon: myIcon })
                    .addTo(map)
                    .bindTooltip('蘭嶼機場')
                    ;
                L.marker([22.67256942108981, 121.46693848546364], { icon: myIcon })
                    .addTo(map)
                    .bindTooltip('綠島機場')
                    ;
                L.marker([26.223953963286892, 119.99931289384084], { icon: myIcon })
                    .addTo(map)
                    .bindTooltip('北竿機場')
                    ;
                L.marker([24.4361789694451, 118.36837588402403], { icon: myIcon })
                    .addTo(map)
                    .bindTooltip('尚義機場')
                    ;
                L.marker([26.158613037280844, 119.95556717053591], { icon: myIcon })
                    .addTo(map)
                    .bindTooltip('南竿機場')
                    ;
                L.marker([22.04027536511499, 120.73345092631865], { icon: myIcon })
                    .addTo(map)
                    .bindTooltip('恒春機場')
                    ;


                // L.marker([20.8, 116.8], {
                //   icon: myIcon,
                // }).addTo(map);

                // add pop up
                // const content = `   <div
                //   class="d-flex flex-column justify-content-between"
                //   style="height: 200px; width: 200px"
                // >
                //   <h4 class="text-secondary">SGN → TPE</h4>
                //   <div class="d-flex">
                //     <h5 class="text-secondary">
                //       Flight: <span class="text-primary fw-bold me-1">VJ842</span>
                //     </h5>
                //     <img
                //       class="ms-1 "
                //       src="https://www.gstatic.com/flights/airline_logos/70px/VJ.png"
                //       alt="flightCompany"
                //       height="30px"
                //     />
                //   </div>
                //   <h5 class="text-secondary">
                //     LatLng: <span class="text-primary fw-bold me-1">20.8, 116.8</span>
                //   </h5>
                //   <h5 class="text-secondary">
                //     Speed: <span class="text-primary fw-bold me-1">796</span>km
                //   </h5>
                //   <h5 class="text-secondary">
                //     Elevation: <span class="text-primary fw-bold me-1">10687</span>m
                //   </h5>
                // </div>`;

                // let popup = L.popup([20.8, 116.8], {
                //   offset: L.point(32, 0),

                //   closeOnClick: false,
                // })
                //   .setContent(content)
                //   .openOn(map);

                // change the direction of flight icon when zooming
                map.on("zoomstart", function (ev) {
                    let icons = document.getElementsByClassName("u-turn-icon");
                    for (let icon of icons) {
                        icon.style.visibility = "hidden";
                    }
                });

                map.on("zoomend", function (ev) {
                    let icons = document.getElementsByClassName("u-turn-icon");
                    for (let icon of icons) {
                        icon.style.transform += " rotate(20deg)";
                        icon.style.visibility = "";
                    }
                });

                map.fire("zoomend");

    // marker.bindPopup(popup).openPopup();
            </script>
</body>

</html>