<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/images/homepage/LOGO-IMAGE.svg"
    />
  </head>
  <style>
    /* * {
      border: 1px red solid !important;
    } */
  </style>

  <body>
    <%- include('./layout/header'); -%>
    <main class="py-6">
      <div class="container d-flex flex-column align-items-center gap-3">
        <h1 class="text-secondary text-center fw-bold ls-10 rfs-80">
          Sorry...發生錯誤
        </h1>
        <div class="d-flex align-items-center gap-2 mt-4">
          <img
            class=""
            src="/assets/images/sorry.png"
            alt="sorry"
            style="height: 128px; width: 128px"
          />
          <h2 class="text-secondary text-center fw-bold ls-10 h2">
            似乎哪裡出錯了
          </h2>
        </div>
        <div class="mt-4">
          <h2 class="text-secondary text-center fw-bold ls-10 h2">
            錯誤原因: 未正確輸入搜尋資訊
          </h2>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../../main.js"></script>
  </body>
</html>
