<nav class="navbar navbar-expand-lg bg-body-tertiary py-3">
  <div class="container-fluid justify-content-around">
    <!--href還需要再次確認是否可以用 -->
    <a class="navbar-brand" href="/web-layout-training-vite/pages/index.html"
      ><img src="/assets/images/homepage/logo_navbar.png" alt="logo navbar"
    /></a>

    <div class="" id="navbarSupportedContent">
      <!--每個分頁待大家完成後 要再加上正確的href-->
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between align-items-center gap-5"
      >
        <li class="nav-item">
          <a class="nav-link link-dark h5 py-1 px-2" href="#">航班檢索</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark h5 py-1 px-2" href="#">延遲航班</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark h5 py-1 px-2" href="#">班機座標</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark h5 py-1 px-2" href="#">鄰近機場</a>
        </li>

        <li class="nav-item ms-5">
          <a class="nav-link link-dark h5 py-3 px-2" href="#">登入</a>
        </li>

        <li class="nav-item">
          <a class="nav-link link-dark h5 py-3 px-2" href="#">註冊</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
