<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- LEAFLET JS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
  </head>
  <style>
    /* * {
      border: 1px red solid !important;
    } */
  </style>

  <body>
    <%- include('./layout/header'); -%>
    <main class="py-6">
      <div class="container">
        <p class="text-secondary text-center fw-bold ls-10 rfs-80">
          班機即時座標查詢
        </p>
        <form
          action="#"
          class="border p-5 bg-cover"
          style="
            background-image: linear-gradient(
                rgba(255, 255, 255, 0.8),
                rgba(255, 255, 255, 0.8)
              ),
              url(/assets/images/homepage/bg.png);
          "
        >
          <div class="mb-3">
            <label
              for="realTimeSearchParams"
              class="form-label h2 fw-bold cursor-pointer"
              >輸入班機資訊</label
            >
            <input
              type="text"
              class="form-control formInfo"
              id="realTimeSearchParams"
              placeholder="EX.VJ842 請輸入正確的班機號碼"
              aria-describedby="emailHelp"
              required
            />
            <label
              for="realTimeSearchParams"
              class="d-block mt-1 ms-3 formInfo-label"
              >EX.VJ842 請輸入正確的班機號碼</label
            >
          </div>
          <button
            type="submit"
            class="btn btn-primary px-5 py-2 rounded-0 mt-3"
          >
            提交
          </button>
        </form>
        <!-- MAP -->
        <div id="map" class="map-rwd-size mt-5 position-relative"></div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../../main.js"></script>
    <!-- leaflet js -->
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script>
      let map = L.map("map").setView([20.8, 116.8], 8);

      L.tileLayer(
        "https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png",
        {
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
          subdomains: "abcd",
          maxZoom: 20,
        }
      ).addTo(map);

      //Resolve the issue where the Leaflet map is not fully loaded initially, but when inspecting the element, it loads completely.
      setTimeout(function () {
        map.invalidateSize(true);
      }, 300);

      const myIcon = L.icon({
        iconUrl: "/assets/images/realTimeFlight_Icon.png",
        iconSize: [64, 64],
        iconAnchor: [0, 0],
      });
      L.marker([20.8, 116.8], { icon: myIcon }).addTo(map);

      const content = `   <div
      class="d-flex flex-column justify-content-between"
      style="height: 200px; width: 200px"
    >
      <h4 class="text-secondary">TPE → SGN</h4>
      <div class="d-flex">
        <h5 class="text-secondary">
          Flight: <span class="text-primary fw-bold me-1">VJ842</span>
        </h5>
        <img
          class="ms-1"
          src="https://www.gstatic.com/flights/airline_logos/70px/VJ.png"
          alt="flightCompany"
          height="30px"
        />
      </div>
      <h5 class="text-secondary">
        LatLng: <span class="text-primary fw-bold me-1">20.8, 116.8</span>
      </h5>
      <h5 class="text-secondary">
        Speed: <span class="text-primary fw-bold me-1">796</span>km
      </h5>
      <h5 class="text-secondary">
        Elevation: <span class="text-primary fw-bold me-1">10687</span>m
      </h5>
    </div>`;

      let popup = L.popup([20.8, 116.8], {
        offset: L.point(32, 0),

        closeOnClick: false,
      })
        .setContent(content)
        .openOn(map);

      marker.bindPopup(popup).openPopup();
    </script>
  </body>
</html>
