.reviseData{
    img {
        max-width: 100%;
        height: auto;
    }
    
    .sidebar {
        text-align: center;
        .sidebar_option {
            list-style: none;
        }
        .sidebar_fs{
            font-size: 1.25rem;
        }
    }
    
    .account_ticketLibrary-lg {
        .account_ticketCard {
            height: 150px;
        }
    }
    .spacer{
        height: 2px;
        background-color: $gray-300;
    }
}

@media(max-width: 575px){
    .reviseData{
        .sidebar{
            .sidebar_fs{
                font-size: 1rem;
            }
        }
    }
}