.nav-link-footer {
  border-bottom: 1px solid transparent;

  &:hover,
  &:active {
    border-bottom: 1px solid $primary;
  }

  &:focus {
    background-color: $primary !important;
    transition: 0.15s ease-in !important;
    color: $dark !important;
  }
}

.footer {
  &__img {
    border-bottom: 4px solid $primary;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(-10px);
      border-bottom: 4px solid $dark;
    }
  }
  &_nav_link_icon {
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}
.footer-eNewsLetter-img-height {
  height: 221px;
  @include respond(lg) {
    height: 301px;
  }
}

.footer-logo-padding {
  padding-top: 182px;
  padding-bottom: 72px;
  @include respond(lg) {
    padding-top: 224px;
    padding-bottom: 80px;
  }
}
