.passengerInfo-page {
    .customized-highlight {
        height: 1.5rem;
        width: 6rem;
        top: 20px;
    }

    .add-circle {
        font-variation-settings: 'FILL' 1;
    }

    .bg-faf0d2 {
        background-color: #faf0d2;
    }

    .text-eca258 {
        color: #eca258;
    }

    .h-50px {
        height: 50px;
    }
}

@media screen and (min-width: 992px) {
    .w-lg-20 {
        width: 20%;
    }

    .w-lg-80 {
        width: 80%;
    }  
}

@media screen and (min-width: 1400px) {
    .w-lg-20 {
        width: 15%;
    }

    .w-lg-80 {
        width: 85%;
    }  
}