.paymentInfo-page {
    .customized-highlight {
        height: 1.5rem;
        width: 6rem;
        top: 20px;
    }

    span {
        font-variation-settings: 'FILL' 1;
    }

    .h-50px {
        height: 50px;
    }
}

// @media screen and (min-width: 768px) {
//     .paymentInfo-page {

//     }
// }