.searchForm-page { 
    .left-section {
        margin-right: -($grid-gutter-width *0.5);
    }

    .right-section {
        margin-left: -($grid-gutter-width *0.5);
    }

    select {
        padding-top: 12px;
        padding-bottom: 12px;
        height: fit-content;
    }

    .search-btn:hover {
        background-color: $secondary;
        box-shadow: none;
    }
}

@media screen and (min-width: 992px) {
    .searchForm-page {
        .w-lg-20 {
            width: 20%;
        }

        .w-lg-80 {
            width: 80%;
        }
    }    
}