<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlightEase</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <style>
    * {
      border: 1px red solid !important;
    }
  </style>
  <body>
    <!-- ejs語法 -->
    <%- include('./layout/header'); -%>
    <main>
      <!-- HERO -->
      <section
        class="bg-cover container-fluid pe-0 px-lg-0 img-height-setting clip-path-hero"
        style="background-image: url(/assets/images/homepage/hero_image.jpeg)"
        data-aos="fade-up"
        data-aos-offset="0"
        data-aos-delay="50"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="false"
        data-aos-anchor-placement="top-center"
      >
        <div class="container text-center pt-6">
          <p class="text-light fw-bold ls-10 rfs-80">
            生活就是不斷探索或一無所有
          </p>
          <h3 class="text-light mt-4 fs-sm-3 fs-4">
            您的旅途比您想像中的還要近
          </h3>
          <h3 class="text-light mt-1 fs-sm-3 fs-4">千萬不要再等下一次連假</h3>
        </div>

        <div class="container text-center hero-text-mt">
          <h5 class="text-light mb-3">尋找您旅行的翅膀 即刻出發</h5>
          <!-- 記得補上位置 -->
          <a href="#" class="btn btn-primary rounded-0 fw-bold" role="button"
            >開啟旅程</a
          >
        </div>
      </section>

      <!-- FlightSearch and RealTime - FLIGHTSEARCH -->
      <section class="py-6">
        <div class="container px-3">
          <div
            class="row gx-4 row-cols-1 row-cols-lg-12 mb-6"
            data-aos="fade-right"
            data-aos-offset="-200"
            data-aos-delay="0"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            data-aos-anchor-placement="top-center"
          >
            <div class="col col-lg-5 px-0 pe-lg-4">
              <div
                class="border border-primary p-3 bg-size-256 bg-pos-120-150 mb-0 h-100"
                style="
                  background-image: url(/assets/images/homepage/inspection.png);
                "
              >
                <div class="d-flex">
                  <h5
                    class="text-primary fw-bold me-2 rotate-90"
                    style="height: 20px"
                  >
                    01
                  </h5>
                  <div
                    class="d-flex flex-column justify-content-between border-left-2 ps-2"
                  >
                    <h4 class="text-secondary fw-bold mb-0">即時班機查詢</h4>
                    <h5 class="text-secondary fw-bold opacity-85 mb-0">
                      為您的旅行目的地提供通行證
                    </h5>
                  </div>
                </div>

                <div class="text-center mt-40">
                  <p class="fs-6 mb-90">
                    我們的品牌理念是打破界限，將世界帶到您的腳下，並為每一位旅客提供頂級的航空體驗。
                  </p>
                  <a
                    class="btn btn-primary fw-bold text-secondary rounded-0 h5 mb-0 py-12 px-4"
                    href="#"
                    >立即查詢</a
                  >
                </div>
              </div>
            </div>

            <div class="col col-lg-7 mt-32 mt-lg-0 p-0 position-relative">
              <div
                class="position-absolute flightSearch-arrow-position z-1 d-flex"
              >
                <a class="btn btn-primary rounded-0 p-0 d-block" href="#">
                  <img
                    src="/assets/images/homepage/Arrow Pointing Left.png"
                    alt="arrow_left"
                  />
                </a>

                <a
                  class="btn btn-primary rounded-0 p-0 d-block carousel-hover"
                  href="#"
                >
                  <img
                    src="/assets/images/homepage/Right Arrow.png"
                    alt="arrow_right"
                  />
                </a>
              </div>
              <div class="overflow-hidden">
                <ul
                  class="list-unstyled d-flex justify-content-center mb-0"
                  style="white-space: nowrap; width: 240%"
                >
                  <li class="w-80 translateX-85n">
                    <img
                      class="w-100 opacity-50 flightSearch-img-rwd-height"
                      src="/assets/images/homepage/flightSearch-2.PNG"
                      alt="flightSearch-2"
                    />
                  </li>
                  <li class="w-80 translateX-85n">
                    <img
                      class="w-100 opacity-50 carousel-active flightSearch-img-rwd-height"
                      src="/assets/images/homepage/flightSearch.jfif"
                      alt="flightSearch-2"
                    />
                  </li>
                  <li class="w-80 translateX-85n">
                    <img
                      class="w-100 opacity-50 flightSearch-img-rwd-height"
                      src="/assets/images/homepage/flightSearch-3.PNG"
                      alt="flightSearch-3"
                    />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- FlightSearch and RealTime - REALTIME -->
        <div class="container overflow-hidden px-3">
          <div
            class="row gx-4 row-cols-1 row-cols-lg-12"
            data-aos="fade-left"
            data-aos-offset="-200"
            data-aos-delay="0"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            data-aos-anchor-placement="top-center"
          >
            <div
              class="col col-lg-6 px-0 pe-lg-4 mt-32 mt-lg-0 order-lg-1 order-2"
            >
              <div class="">
                <img
                  class="w-100 flightSearch-img-rwd-height-2"
                  src="/assets/images/homepage/realTime.jfif"
                  alt="realTime"
                />
              </div>
            </div>
            <div class="col col-lg-6 px-0 pe-lg-4 order-lg-2 order-1">
              <div
                class="border border-primary p-3 ms-0 bg-size-256 bg-pos-120-150 h-100"
                style="
                  background-image: url(/assets/images/homepage/inspection.png);
                "
              >
                <div class="d-flex">
                  <h5
                    class="text-primary fw-bold me-2 rotate-90"
                    style="height: 20px"
                  >
                    02
                  </h5>
                  <div
                    class="d-flex flex-column justify-content-between border-left-2 ps-2"
                  >
                    <h4 class="text-secondary fw-bold mb-0">班機現況查詢</h4>
                    <h5 class="text-secondary fw-bold opacity-85 mb-0">
                      追蹤飛行中的奇蹟！即刻發現班機位置
                    </h5>
                  </div>
                </div>

                <div class="text-center mt-40">
                  <p class="fs-6 mb-90">
                    讓您與摯愛相隨，時刻守護！探索我們的服務，查詢親友班機位置，確保他們平安無慮，一起分享旅程的美好與激動！
                  </p>
                  <a
                    class="btn btn-primary fw-bold text-secondary rounded-0 h5 mb-0 py-12 px-4"
                    href="#"
                    >即刻守護</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- NearAirport -->
      <section
        class="nearAirport-clip-path img-height-setting clip-path-nearAirport bg-cover nearAirport-bg-pos container-fluid pe-0 mt-0 px-lg-0"
        style="
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.6),
              rgba(0, 0, 0, 0.6)
            ),
            url(/assets/images/homepage/nearAirport.jfif);
        "
        data-aos="fade-up"
        data-aos-offset="-200"
        data-aos-delay="0"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="false"
        data-aos-anchor-placement="top-center"
      >
        <div class="container text-center nearAirport-container-pt">
          <h2 class="text-light fw-bold rfs-80">探索無限可能，尋找旅行靈感!</h2>
          <p class="text-light fs-3 mt-4">探索無限可能，尋找旅行靈感</p>
          <p class="text-light fs-3 mt-2">
            當您不確定下一站何處，信賴我們的鄰近機場服務，為您指引前往夢想目的地！
          </p>
        </div>
        <div class="container text-center">
          <!-- 記得補上位置 -->
          <a
            href="#"
            class="btn btn-primary h5 text-secondary rounded-0 fw-bold nearAirport-btn-mt px-4 py-12"
            role="button"
            >探索鄰近機場</a
          >
        </div>
      </section>

      <!-- HotSpots -->
      <section
        class="container px-12 py-32 my-6 card-scroll-rwd"
        data-aos="zoom-in"
        data-aos-offset="-200"
        data-aos-delay="0"
        data-aos-duration="800"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="false"
        data-aos-anchor-placement="top-center"
      >
        <div class="d-flex">
          <h5 class="text-primary fw-bold me-2 rotate-90" style="height: 20px">
            03
          </h5>
          <div
            class="d-flex flex-column justify-content-between border-left-2 ps-2"
          >
            <h4 class="text-secondary fw-bold mb-0">熱門目的地</h4>
            <h5 class="text-secondary fw-bold opacity-85 mb-0">
              為您推薦最合適的旅行目的
            </h5>
          </div>
        </div>
        <!-- CARDS -->
        <div
          class="row px-0 mx-0 mt-32 mt-lg-6 card-hover card-scroll-width-rwd"
        >
          <div class="col-4 card-hover-spot">
            <div
              class="bg-blend-mode-screen bg-cover position-relative d-flex justify-content-end align-items-end card-img-height-rwd"
              style="
                background-image: url(/assets/images/homepage/bangkok.jfif);
              "
            >
              <span
                class="badge bg-primary h4 px-4 px-sm-40 py-2 py-sm-3 fw-bold position-absolute top-100 start-13 translate-middle"
                >曼谷</span
              >
              <ul class="list-unstyled d-flex gap-1 gap-sm-3 me-12 mb-12">
                <li>
                  <img src="/assets/images/homepage/StarRate.png" alt="star" />
                </li>
                <li>
                  <img src="/assets/images/homepage/StarRate.png" alt="star" />
                </li>
                <li>
                  <img src="/assets/images/homepage/StarRate.png" alt="star" />
                </li>
                <li>
                  <img src="/assets/images/homepage/StarRate.png" alt="star" />
                </li>
              </ul>
            </div>
            <div class="tourCard__details d-flex justify-content-end gap-4">
              <ul class="list-unstyled mt-32">
                <li class="mb-2">
                  <p class="m-0 text-end fw-bold">旅程</p>
                </li>
                <li class="mb-2">
                  <p class="m-0 text-end fw-bold">航空公司</p>
                </li>
                <li class="mb-2">
                  <p class="m-0 text-end fw-bold">座位剩餘</p>
                </li>
                <li class="mb-2">
                  <p class="m-0 text-end fw-bold">機票價格</p>
                </li>
              </ul>

              <ul class="list-unstyled mt-32">
                <li class="mb-2"><p class="fs-6 m-0">3小時30分鐘</p></li>
                <li class="mb-2"><p class="fs-6 m-0">多</p></li>
                <li class="mb-2"><p class="fs-6 m-0">多</p></li>
                <li class="mb-2"><p class="fs-6 m-0">便宜</p></li>
              </ul>
            </div>
          </div>
          <div class="col-4 card-hover-spot">
            <div
              class="bg-blend-mode-screen bg-cover position-relative d-flex justify-content-end align-items-end card-img-height-rwd"
              style="background-image: url(/assets/images/homepage/tokyo.jfif)"
            >
              <span
                class="badge bg-primary h4 px-4 px-sm-40 py-2 py-sm-3 fw-bold position-absolute top-100 start-13 translate-middle"
                >東京</span
              >
              <ul class="list-unstyled d-flex gap-1 gap-sm-3 me-12 mb-12">
                <li>
                  <img src="/assets/images/homepage/StarRate.png" alt="star" />
                </li>
                <li>
                  <img src="/assets/images/homepage/StarRate.png" alt="star" />
                </li>
                <li>
                  <img src="/assets/images/homepage/StarRate.png" alt="star" />
                </li>
                <li>
                  <img src="/assets/images/homepage/StarRate.png" alt="star" />
                </li>
              </ul>
            </div>
            <div class="tourCard__details d-flex justify-content-end gap-4">
              <ul class="list-unstyled mt-32">
                <li class="mb-2">
                  <p class="m-0 text-end fw-bold">旅程</p>
                </li>
                <li class="mb-2">
                  <p class="m-0 text-end fw-bold">航空公司</p>
                </li>
                <li class="mb-2">
                  <p class="m-0 text-end fw-bold">座位剩餘</p>
                </li>
                <li class="mb-2">
                  <p class="m-0 text-end fw-bold">機票價格</p>
                </li>
              </ul>

              <ul class="list-unstyled mt-32">
                <li class="mb-2"><p class="fs-6 m-0">3小時30分鐘</p></li>
                <li class="mb-2"><p class="fs-6 m-0">多</p></li>
                <li class="mb-2"><p class="fs-6 m-0">中等</p></li>
                <li class="mb-2"><p class="fs-6 m-0">便宜</p></li>
              </ul>
            </div>
          </div>
          <div class="col-4 card-hover-spot">
            <div
              class="bg-blend-mode-screen bg-cover position-relative d-flex justify-content-end align-items-end card-img-height-rwd"
              style="background-image: url(/assets/images/homepage/seoul.jfif)"
            >
              <span
                class="badge bg-primary h4 px-4 px-sm-40 py-2 py-sm-3 fw-bold position-absolute top-100 start-13 translate-middle"
                >首爾</span
              >
              <ul class="list-unstyled d-flex gap-1 gap-sm-3 me-12 mb-12">
                <li>
                  <img src="/assets/images/homepage/StarRate.png" alt="star" />
                </li>
                <li>
                  <img src="/assets/images/homepage/StarRate.png" alt="star" />
                </li>
                <li>
                  <img src="/assets/images/homepage/StarRate.png" alt="star" />
                </li>
              </ul>
            </div>
            <div class="tourCard__details d-flex justify-content-end gap-4">
              <ul class="list-unstyled mt-32">
                <li class="mb-2">
                  <p class="m-0 text-end fw-bold">旅程</p>
                </li>
                <li class="mb-2">
                  <p class="m-0 text-end fw-bold">航空公司</p>
                </li>
                <li class="mb-2">
                  <p class="m-0 text-end fw-bold">座位剩餘</p>
                </li>
                <li class="mb-2">
                  <p class="m-0 text-end fw-bold">機票價格</p>
                </li>
              </ul>

              <ul class="list-unstyled mt-32">
                <li class="mb-2"><p class="fs-6 m-0">3小時30分鐘</p></li>
                <li class="mb-2"><p class="fs-6 m-0">多</p></li>
                <li class="mb-2"><p class="fs-6 m-0">多</p></li>
                <li class="mb-2"><p class="fs-6 m-0">便宜</p></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- CTA -->
      <section
        class="container-fluid pe-0 bg-cover px-lg-0 cta-mt position-relative"
        style="
          background-image: linear-gradient(
              rgba(255, 255, 255, 0.8),
              rgba(255, 255, 255, 0.8)
            ),
            url(/assets/images/homepage/bg.png);
        "
      >
        <div class="container overflow-hidden px-0">
          <div class="row row-cols-1 row-cols-xl-12 mx-0">
            <!-- CTA-LEFT -->
            <div
              class="col col-xl-6 pe-0"
              data-aos="fade-right"
              data-aos-offset="-200"
              data-aos-delay="0"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out"
              data-aos-mirror="true"
              data-aos-once="false"
              data-aos-anchor-placement="top-center"
            >
              <div class="d-flex mt-32">
                <h5
                  class="text-primary fw-bold me-2 rotate-90"
                  style="height: 20px"
                >
                  04
                </h5>
                <div
                  class="d-flex flex-column justify-content-between border-left-2 ps-2"
                >
                  <h4 class="text-secondary fw-bold mb-0">
                    為什麼選擇 FlightEase?
                  </h4>
                  <h5 class="text-secondary fw-bold opacity-85 mb-0">
                    我們提供最優惠的服務
                  </h5>
                </div>
              </div>
              <ul class="list-unstyled" class="">
                <li
                  class="d-flex align-items-center flex-column flex-md-row gap-4 mt-72 mb-32"
                >
                  <div
                    class="bg-cover bg-size-90 bg-secondary rounded-circle"
                    style="
                      height: 96px;
                      width: 96px;
                      background-image: url(/assets/images/homepage/convenient.png);
                    "
                  ></div>

                  <div class="cta-left-textAlign cta-left-width">
                    <h5 class="mb-3 fw-bold text-secondary">
                      無與倫比的方便性
                    </h5>
                    <p class="fs-6">
                      讓您隨時隨地輕鬆預訂航班，節省您寶貴的時間與精力。
                    </p>
                  </div>
                </li>
                <li
                  class="d-flex align-items-center gap-4 mb-32 flex-column flex-md-row"
                >
                  <div
                    class="bg-cover bg-size-90 bg-secondary rounded-circle"
                    style="
                      height: 96px;
                      width: 96px;
                      background-image: url(/assets/images/homepage/safety.png);
                    "
                  ></div>

                  <div class="cta-left-textAlign cta-left-width">
                    <h5 class="mb-3 fw-bold text-secondary">安全與可靠性</h5>
                    <p class="fs-6 m-0">
                      我們僅與經過驗證的航空公司合作，確保您的旅行安全與舒適。
                    </p>
                  </div>
                </li>
                <li
                  class="d-flex align-items-center gap-4 flex-column flex-md-row"
                >
                  <div
                    class="bg-cover bg-size-90 bg-secondary rounded-circle"
                    style="
                      height: 96px;
                      width: 96px;
                      background-image: url(/assets/images/homepage/brooke.png);
                    "
                  ></div>
                  <div class="cta-left-textAlign cta-left-width">
                    <h5 class="mb-3 fw-bold text-secondary">卓越的客戶服務</h5>
                    <p class="fs-6 m-0">
                      我們重視與客戶之間的溝通，致力於提供出色的客戶體驗。
                    </p>
                  </div>
                </li>
              </ul>
            </div>

            <!-- CTA-RIGHT  -->
            <div
              class="col col-xl-6 ps-4"
              data-aos="fade-left"
              data-aos-offset="-200"
              data-aos-delay="0"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out"
              data-aos-mirror="true"
              data-aos-once="false"
              data-aos-anchor-placement="top-center"
            >
              <div
                class="d-flex position-relative justify-content-end row row-cols-1"
              >
                <div class="cta_right_card col px-0">
                  <!-- CTA-RIGHT-CARD-what we have----FRONT -->
                  <div
                    class="top-30 start-0 mb-32 mb-md-0 px-32 py-4 py-sm-5 bg-light border border-2 border-secondary cta_right_card-side cta_right_card-front"
                  >
                    <h4 class="text-secondary fw-bold text-center">我們擁有</h4>
                    <ul
                      class="list-unstyled pt-3 pt-md-5 mt-3 border-top-secondary"
                    >
                      <li class="d-flex align-items-end">
                        <img
                          class="me-2"
                          src="/assets/images/homepage/StarRate.png"
                          style="height: 40px"
                          alt="star"
                        />
                        <h2 class="text-secondary fw-bold me-12 mb-0">4.8</h2>
                        <p class="m-0 fs-6">星級</p>
                      </li>
                      <li class="d-flex align-items-end mt-32">
                        <img
                          class="me-2"
                          src="/assets/images/homepage/Vector.png"
                          style="height: 40px"
                          alt="star"
                        />
                        <h2 class="text-secondary fw-bold me-12 mb-0">2000+</h2>
                        <p class="m-0 fs-6">訂閱用戶</p>
                      </li>
                    </ul>
                  </div>
                  <!-- CTA-RIGHT-CARD-what we have----BACK -->
                  <div
                    class="mb-32 mb-md-0 px-32 py-4 py-sm-5 bg-light border border-2 border-secondary cta_right_card-side cta_right_card-back text-center"
                  >
                    <h2 class="fw-bold">還沒成為會員?</h2>
                    <img
                      class="d-block mx-auto mt-4"
                      src="/assets/images/homepage/account.png"
                      style="height: 64px"
                      alt="account"
                    />

                    <a class="btn btn-primary fw-bold mt-4 rounded-0" href="#"
                      >立即前往加入</a
                    >
                  </div>
                </div>

                <!-- CTA-RIGHT- avatar and comment -->
                <div
                  class="col col-md-8 d-flex flex-column align-items-center bg-secondary py-32 py-md-5"
                >
                  <div
                    class="bg-cover rounded-circle mb-2"
                    style="
                      height: 120px;
                      width: 120px;
                      background-image: url(/assets/images/homepage/avatar.jfif);
                    "
                  ></div>
                  <p class="m-0 fs-5 text-primary mb-4">林美滿</p>
                  <p class="m-0 text-white mb-2">完美的體驗</p>
                  <h5 class="fw-bold text-white mb-4 mb-md-5">絕對會再訂閱</h5>
                  <ul class="list-unstyled pt-4 pt-md-5 border-top-primary">
                    <li class="d-flex gap-2 align-items-center mb-3">
                      <img
                        style="height: 28px"
                        src="/assets/images/homepage/verfied.png"
                        alt="verfied"
                      />
                      <h4 class="text-white fw-bold mb-0">服務快速</h4>
                    </li>
                    <li class="d-flex gap-2 align-items-center mb-3">
                      <img
                        style="height: 28px"
                        src="/assets/images/homepage/verfied.png"
                        alt="verfied"
                      />
                      <h4 class="text-white fw-bold mb-0">體驗滿分</h4>
                    </li>
                    <li class="d-flex gap-2 align-items-center">
                      <img
                        style="height: 28px"
                        src="/assets/images/homepage/verfied.png"
                        alt="verfied"
                      />
                      <h4 class="text-white fw-bold mb-0">輕鬆舒適</h4>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
